{% extends 'layout.html' %}
{%block content%}
{%load static%}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/css/stule.css' %}">
</head>
   

<br><br><br><br>
<center>
<div class="container search">

    <form action="location" method="GET">
        
        <input type="text" name="key1" placeholder="search your sports category">
        <button type="submit" href="/" ><i class="fa fa-search"></i></button>
    </form>

</div>
</center>


<section class="schedule" id="homes">
       
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="600">
     
<div class="gallery"  data-aos="fade-up" data-aos-delay="600">
    {% for x in co %}
    {% comment %} {% if x.dis < 10 %} {% endcomment %}
    <div class="profile" data-aos="fade-up" data-aos-delay="600">
        <img src="{{x.user.img.url}}">
         <div class="details">
            <center><h4  style="color:white; text-transform:uppercase; font-weight:bold;">{{x.user.username}}</h2>
                <p style="text-align:center;"> <span style="color:white">{{x.user.email}}</span></p>
                <p style="text-align:center;">  {{x.user.experience}} <span style="color:#f13a11;font-weight:bold;">years experience</span></p>
                <p style="text-align:center;">   {{x.user.contact}}</p>                
                <p style="text-align:center;">  {{x.user.category}}</p>
                <p style="text-align:center;">  {{x.user.district}}</p>
                <p style="text-align:center;"> {{x.dis}} <span style="color:#f13a11">KM  Away</span></p>
            </center>
        </div>

        <a class="form-control btn custom-btn bg-color  mt-3" href="/cbook/{{x.id}}">Book Now</a>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    
</div>
    </div>
</section>

<section class="schedule" id="homes">
    
            <div class="container-fluid" data-aos="fade-up" data-aos-delay="600">
        
<div class="gallery"  data-aos="fade-up" data-aos-delay="600">
    {% for x in ac %}
    {% comment %} {% if x.dis < 10 %} {% endcomment %}
    <div class="profile" data-aos="fade-up" data-aos-delay="600">
        <img src="{{x.user.img.url}}">
         <div class="details">
            <center><h4  style="color:white; text-transform:uppercase; font-weight:bold;">{{x.user.username}}</h2>
                <p style="text-align:center;"> <span style="color:#f13a11">{{x.user.email}}</span></p>
                <p style="text-align:center;"> {{x.user.contact}}</p>
                <p style="text-align:center;"> {{x.user.category}}</p>
                <p style="text-align:center;">{{x.user.district}}</p>
                <p style="text-align:center;"> {{x.dis}}<span style="color:#f13a11">KM  Away</span></p>
                {% comment %} <p style="text-align:left;"> Contact : {{x.contact}}</p>
                <p style="text-align:left;"> Email   : {{x.email}}</p>
                <p style="text-align:left;">Category  : {{x.category}}</p>
                <p style="text-align:left;">District  : {{x.district}}</p> {% endcomment %}
            </center>
        </div>

        <a class="form-control btn custom-btn bg-color  mt-3" href="/abook/{{x.id}}">Book Now</a>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    
</div>
    </div>
</section>
</div>



<br><br><br><br>
{%endblock%}